<center><img width='700' height= '400' style="margin-top: 20%" align="middle" src="/logo.jpg"></img>
<h2 style="text-align:center; font-family: 'Open Sans'; font-style: normal; font-variant: normal; font-weight: 500; line-height: 26px;">Issue Manager</h2>
<h4 class="subheader" style="font-family: 'Open Sans'; font-style: normal; font-variant: normal; font-weight: 500; line-height: 26px;">By Devesh Dayal</h4>

<%= render "devise/shared/links"%>
</center>
